.page-header {
	border-bottom-color: #ccc;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 8px solid #fff;
	padding: 3px;
	background-color: #08CA74;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #08CA74;
}

h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 42px;
}

h3.section-subheading {
	margin-bottom: 75px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
}

.date-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Screen width specific CSS */
@media (max-width: 767px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) {
	
}