body {
	padding-top: 70px;
}

.navbar-brand img {
	width: 24px;
	display: initial;
}

.map-container {
    position: relative;
    width: 100%;
    height: 95%;
	margin-bottom: 8px;
}
.map-container .map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	border-radius: 8px;
}

.page-header {
	border-bottom-color: #ccc;
	margin-top: 20px;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
	max-width: 433px;
}

.team-member img {
    margin: 0 auto;
    border: 8px solid #fff;
	padding: 3px;
	background-color: #08CA74;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #08CA74;
}

h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 42px;
}

h3.section-subheading {
	margin-bottom: 75px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	line-height: 1.42857143;
}

.scrollable-table {
	max-height: 322px;
	overflow-y: auto;
}

button > .button-poptext {
	display: none;
}

button:hover > .button-poptext {
	display: initial;
}

.panel-title .close {
	font-size: 24px;
	margin-top: -3px;
}

.well-light {
	background-color: #fff;
}

#hotel-rating button {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

#hotel-rating span {
	letter-spacing: -5px;
	font-size: 11px;
}

#footer-tabs {
	background-color: #222;
	border: 1px solid transparent;
	border-width: 1px 0 0;
	border-color: #101010;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 1029;
}

#footer-tabs a {
	color: #9d9d9d;
	float: left;
	width: 33.33%;
	height: 50px;
	font-size: 12px;
	padding: 6px 15px ;
	text-align: center;
}

#footer-tabs span {
	font-size: 20px;
}

#footer-tabs a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-tabs a.active {
	background-color: #2b167b;
	color: #fff;
}

.slider-handle {
	background-image: none;
	background-color: #fff;
	border: 1px solid #ccc;
}

.slider-selection {
	background-image: none;
	background-color: #08CA74;
}

.affix {
  top: 70px;
  width: 213px;
}
 
@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}

.affix-bottom {
  position: absolute;
  width: 213px;
}
 
@media (min-width: 1200px) {
  .affix-bottom {
    width: 263px;
  }
}

/* Screen width specific CSS */
/** XS **/
@media (max-width: 767px) {
	.scrollable-table {
		max-height: initial;
	}
	.map-container {
		width: 100%;
		height: 500px;
	}
	.map-container .map-canvas {
		border-radius: 0;
	}
	.col-map {
		padding: 0;
	}
	body {
		padding-top: 50px;
	}
}
/** SM **/
@media (min-width: 768px) and (max-width: 991px) {
	
}
/** MD **/
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/** LG **/
@media (min-width: 1200px) {
	
}

/** Screen height for mobiles CSS **/
/* Smaller than i4 or landscape */
@media (max-height: 479px) and (max-width: 767px) {
	.map-container {
		height: 0;
	}
}
/* i4 */
@media (min-height: 480px) and (max-width: 767px) {
	.map-container {
		height: 160px;
	}
}
/* Nexus S */
@media (min-height: 533px) and (max-width: 767px) {
	.map-container {
		height: 220px;
	}
}
/* i5 */
@media (min-height: 568px) and (max-width: 767px) {
	.map-container {
		height: 250px;
	}
}
/* Galaxy S4 */
@media (min-height: 640px) and (max-width: 767px) {
	.map-container {
		height: 320px;
	}
}
/* i6 */
@media (min-height: 667px) and (max-width: 767px) {
	.map-container {
		height: 350px;
	}
}
/* i6+ */
@media (min-height: 736px) and (max-width: 767px) {
	.map-container {
		height: 420px;
	}
}
/* Droid 3, 4 */
@media (min-height: 960px) and (max-width: 767px) {
	.map-container {
		height: 640px;
	}
}